batchgenerators==0.23
cached-property==1.5.2
certifi
click
cycler
decorator
Deprecated
efficientnet-pytorch==0.7.1
einops>=0.6.0
future
fvcore
h5py>=3.8.0
humanize
imageio
importlib-metadata
importlib-resources
iopath
joblib
kiwisolver
matplotlib>=3.7.0
MedPy==0.4.0
monai>=1.2.0
munch
networkx>=2.8
nibabel
numpy>=1.23
opencv-python>=4.8.0
packaging
pandas>=1.5
Pillow>=9.5.0
portalocker
pretrainedmodels==0.7.4
protobuf>=3.20
ptflops
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image>=0.19
scikit-learn>=1.2
scipy>=1.10
segment-anything
segmentation-models-pytorch>=0.3.3
SimpleITK>=2.2.0
six
tabulate
tensorboardX
termcolor
thop
threadpoolctl
tifffile
timm>=0.9.0
torchio>=0.18.90
tqdm
typing_extensions
wrapt
yacs
zipp
